<mat-card class="stock-card">
<mat-card-header>
    <mat-card-title>Berkshire Hathaway</mat-card-title>
    <mat-card-subtitle>BRK-B</mat-card-subtitle>
</mat-card-header>  
<mat-card-content>
        Berkshire Hathaway Inc., through its subsidiaries engages in insurance, freight rail transportation, and utility businesses.
</mat-card-content>
<mat-card-actions>
<button mat-raised-button color="primary">Action</button>
<button mat-raised-button color="accent">Action</button>
<button mat-raised-button color="warn">Action</button>
</mat-card-actions>
</mat-card>