<mat-card class="stock-card">
        <mat-card-header>
            <mat-card-title>Visa</mat-card-title>
            <mat-card-subtitle>V</mat-card-subtitle>
        </mat-card-header>  
        <mat-card-content>
                Visa Inc. operates as a payments technology company worldwide. 
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary" onclick="window.location.href = 'https://finance.yahoo.com/quote/V?p=V&.tsrc=fin-srch';">Yahoo!</button>
        <button mat-raised-button color="accent">Action</button>
        <button mat-raised-button color="warn">Action</button>
        </mat-card-actions>
        </mat-card>