<mat-card class="stock-card">
        <mat-card-header>
            <mat-card-title>Mastercard</mat-card-title>
            <mat-card-subtitle>MA</mat-card-subtitle>
        </mat-card-header>  
        <mat-card-content>
                Mastercard Incorporated, a technology company, provides transaction processing and other payment-related products and services in the United States and internationally. 
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary" onclick="window.location.href = 'https://finance.yahoo.com/quote/MA?p=MA&.tsrc=fin-srch';">Yahoo!</button>
        <button mat-raised-button color="accent">Action</button>
        <button mat-raised-button color="warn">Action</button>
        </mat-card-actions>
        </mat-card>