<mat-card class="stock-card">
        <mat-card-header>
            <mat-card-title>Vanguard S&P 500 ETF</mat-card-title>
            <mat-card-subtitle>VOO</mat-card-subtitle>
        </mat-card-header>  
        <mat-card-content>
                Vanguard S&P 500 ETF
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary">Action</button>
        <button mat-raised-button color="accent">Action</button>
        <button mat-raised-button color="warn">Action</button>
        </mat-card-actions>
        </mat-card>