<mat-card class="stock-card">
        <mat-card-header>
            <mat-card-title>Johnson & Johnson</mat-card-title>
            <mat-card-subtitle>JNJ</mat-card-subtitle>
        </mat-card-header>  
        <mat-card-content>
                Johnson & Johnson, together with its subsidiaries, researches and develops, manufactures, and sells various products in the health care field worldwide.
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary" onclick="window.location.href = 'https://finance.yahoo.com/quote/JNJ?p=JNJ&.tsrc=fin-srch';">Yahoo!</button>
        <button mat-raised-button color="accent">Action</button>
        <button mat-raised-button color="warn">Action</button>
        </mat-card-actions>
        </mat-card>