<mat-card class="stock-card">
        <mat-card-header>
            <mat-card-title>Microsoft</mat-card-title>
            <mat-card-subtitle>MSFT</mat-card-subtitle>
        </mat-card-header>  
        <mat-card-content>
                Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide.
        </mat-card-content>
        <mat-card-actions>
        <button mat-raised-button color="primary" onclick="window.location.href = 'https://finance.yahoo.com/quote/MSFT?p=MSFT&.tsrc=fin-srch';">Yahoo!</button>
        <button mat-raised-button color="accent">Action</button>
        <button mat-raised-button color="warn">Action</button>
        </mat-card-actions>
        </mat-card>